/* Root varibles */
:root {
  /* Main color pallet */
  --primary-color: #ff9500;
  --Orange-Shades-50: #ff9500;
  --Orange-Shades-70: #ffbf66;
  --Orange-Shades-75: #ffca80;
  --Orange-Shades-80: #ffd499;
  --Orange-Shades-90: #ffeacc;
  --Orange-Shades-95: #fff4e5;
  --Orange-Shades-97: #fff9f0;
  --Orange-Shades-99: #fffdfa;
  /* White-Shades color pallet */
  --Neutral-White: #fff;
  --White-Shades-90: #e4e4e7;
  --White-Shades-95: #f1f1f3;
  --White-Shades-97: #f7f7f8;
  --White-Shades-99: #fcfcfd;
  --Neutral-Black: #000;
  /* Grey-Shades color pallet */
  --Grey-Shades-10: #191919;
  --Grey-Shades-15: #262626;
  --Grey-Shades-20: #333333;
  --Grey-Shades-30: #4c4c4d;
  --Grey-Shades-35: #59595a;
  --Grey-Shades-40: #656567;
  --Grey-Shades-60: #98989a;
  --Grey-Shades-70: #b3b3b3;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  accent-color: var(--primary-color);
}
body {
  font-family: BeVietnamPro, sans-serif;
  line-height: 1.5;
  background-color: var(--White-Shades-97);
}
.title-1 {
  font-size: 2.8rem;
  color: var(--Grey-Shades-15);
  font-family: BeVietnamProSemiBold, sans-serif;
}

.title-2 {
  font-size: 2.4rem;
  color: var(--Grey-Shades-20);
  font-family: BeVietnamProMedium, sans-serif;
}
.title-3 {
  font-size: 1.8rem;
  color: var(--Grey-Shades-15);
  font-family: BeVietnamProMedium, sans-serif;
}
.title-4 {
  font-size: 1.4rem;
  color: var(--Grey-Shades-15);
  font-family: BeVietnamProMedium, sans-serif;
}
.text {
  font-size: 1.4rem;
  color: var(--Grey-Shades-35);
}
.icon {
  width: fit-content;
  background-color: var(--Orange-Shades-97);
  padding: 1.37rem;
  border: 1px solid var(--Orange-Shades-90);
  border-radius: 6px;
}
.icon-gray {
	background: var(--White-Shades-97);
	border: 1px solid var(--White-Shades-95);
}
.back-gray{
  background: var(--White-Shades-99);
	border: 1px solid var(--White-Shades-95);
}
.box-1,.box-1-12 {
  padding: 3rem;
  background-color: var(--Neutral-White);
  border-radius: 5px;
  margin: 1rem 0;
}
.box-1{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 3.2rem;
}
.highlight {
  color: var(--primary-color);
}
.button {
  padding: 1.4rem 2rem;
  font-size: 1.4rem;
  font-family: BeVietnamProSemiBold, sans-serif;
  color: var(--Neutral-White);
  background-color: var(--primary-color);
  border-radius: 6px;
  text-decoration: none !important;
  display: inline-block;
}
input[type="submit"]{
  padding: 1.4rem 2rem;
  font-size: 1.4rem;
  font-family: BeVietnamProSemiBold, sans-serif;
  color: var(--Neutral-White);
  background-color: var(--primary-color);
  border-radius: 6px;
}
input,textarea {
  font-size: 1.4rem;
	padding: 1.8rem;
	background: var(--White-Shades-99);
	border: 1px solid var(--White-Shades-95);
	border-radius: 6px;
	color: var(--Grey-Shades-40);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .title-1 {
    font-size: 3.8rem;
  }
  .title-2 {
    font-size: 3rem;
  }
  .title-3 {
    font-size: 2rem;
  }
  .title-4 {
  font-size: 1.6rem;
  }
  .text {
    font-size: 1.6rem;
  }
  .box-1 {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
  .m-5{
    margin: 6rem !important;
  }
  .m-4{
    margin: 4rem !important;
  }
  .mb-5 {
	  margin-bottom: 6rem !important;
  }
  .mb-4 {
	  margin-bottom: 4rem !important;
  }
  .mt-5 {
	  margin-top: 6rem !important;
  }
  .mt-4 {
	  margin-top: 4rem !important;
  }
  .p-5{
    padding: 6rem !important;
  }
  .p-4{
    padding: 4rem !important;
  }
  .pb-5 {
	  padding-bottom: 6rem !important;
  }
  .pb-4 {
	  padding-bottom: 4rem !important;
  }
  .pt-5 {
	  padding-top: 6rem !important;
  }
  .pt-4 {
	  padding-top: 4rem !important;
  }
 
}
@media screen and (min-width: 1600px) {
  .title-1 {
    font-size: 4.8rem;
  }
  .title-2 {
    font-size: 4.8rem;
  }
  .title-3 {
    font-size: 2.4rem;
  }
  .title-4 {
    font-size: 1.8rem;
  }
  .text {
    font-size: 1.8rem;
  }
}
